# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data & Output
# *.csv  # Di-comment agar file CSV bisa di-push ke Git
*.xlsx
*.png
*.jpg
*.html
*.pdf

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/